<!DOCTYPE html>
<html>
<head>
  <title>#inject{title}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="apple-mobile-web-app-capable" content="yes">

#include{jquery_html}
#include{ismobile_html}
#include{fotorama_html}

  <style>
#include{style_css}
  </style>

</head>

<body bgcolor="black">
  <div id="fotorama"
    class="fotorama"
    data-fit="contain"
    data-height="100%"
    data-width="100%"
    data-hash="true"
    data-keyboard='{"home": true, "end": true, "up": true, "down": true}'
    data-arrows="true"
    data-click="true"
    data-swipe="true"
    data-trackpad="true"
    data-auto="false"
    data-nav="false">
    #inject{list}
  </div>

  <script>
    #include{common_js}
    #include{comic_js}
    #include{local_js}
  </script>

</body>
</html>
