<!DOCTYPE html>
<html>
<head>
  <title>#inject{title}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="apple-mobile-web-app-capable" content="yes">

#include{jquery_html}
#include{hammerjs_html}

  <style>
#include{style_css}
  </style>

</head>

<body bgcolor="black" data-dir="#inject{dir}">

  <div id="view"></div>

  <div id="help">
  <div class="helpcontent">Keyboard Shortcuts

H, ?            - This help
Left,  Z        - Previous page
Right, X        - Next page
D               - Auto-read: Previous
F               - Auto-read: Next
Home            - First page
End             - Last page
Q, W, A, S      - Zoom to corner
1, 2, 3, 4      - Choose zoom level
Backtick        - Zoom out
P               - Previous comic in series
N               - Next comic in series
B, I            - (B)ack to (I)ndex

Hold Space bar to free zoom with mouse hover,
and tap Space (without moving the mouse) to
zoom out.

(Press any key to close this.)
  </div>
  </div>

  <script>
    #include{common_js}
    #include{comic_js}
  </script>

</body>
</html>
