<div class="options entry">
    <div class="optionscontent">
        <div class="optionstitle">#inject{title}</div>
        <div class="optionslink">[ <a id="sortorder" onclick="nextsort(event)">Alphabetical</a> ]</div>
        <div class="optionslink">[ <a id="togglerecent" onclick="toggleRecentCover(event)">First Cover</a> ]</div>
        <div class="updates">
            #inject{updates}
        </div>
        <div class="optionslink">[ <a href="updates.html">All Updates</a> ]</div>
    </div>
</div>
