<!DOCTYPE html>
<html>
<head>
  <title>#inject{title}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="apple-mobile-web-app-capable" content="yes">

#include{jquery_html}
#include{ismobile_html}

  <style>
#include{style_css}

    html, body {
      color: #aaaaaa;
      background-color: #111111;
    }
  </style>

</head>

<body>

  <!-- Yeah, that's right. I use center. Deal with it. -->
  <center>
  <div id="entries">
    #inject{list}
  </div>
  </center>

  <script>
    #include{common_js}
    #include{index_js}
    #include{local_js}
  </script>

</body>
</html>
