    html, body {
      margin: 0;
      height: 100%;
      min-height: 100%;
    }

    a, a:link, a:hover, a:visited, a:active {
      text-decoration: none;
      color: white;
    }

    a.download {
      color: #77aa77;
    }

    .cover {
      width: #inject{coverwidth}px;
    }

    .counts {
      font-size: 0.7em;
    }

    .recent {
        color: #ddffdd;
    }

    .box {
      display: block;
      position:absolute;
      width: 4vw;
      height: 4vw;
      background:#ffffff;
      opacity: 0.1;
      border:1px solid #000000;
      z-index:100;
    }

    .indexbox {
      left: 2vw;
      top: 2vw;
    }

    .prevbox {
      right: 8vw;
      top: 2vw;
    }

    .nextbox {
      right: 2vw;
      top: 2vw;
    }

    .scalebox {
      left: 2vw;
      bottom: 2vw;
    }

    .zoombox {
      display: block;
      position:absolute;
      z-index:100;
      opacity: 0;
      border: 1px solid black;
    }

    .zoomboxpos {
      right: 0vw;
      bottom: 0vw;
      width: 40vw;
      height: 40vw;
    }

    .zoomboxaltpos {
      left: 30vw;
      right: 30vw;
      bottom: 0;
      height: 40vw;
    }

    .zoomcross {
      border: 1px dashed black;
      width: 33%;
      height: 33%;
      margin-left: 33%;
      margin-top: 33%;
      pointer-events: none;
      position: relative;
    }

    .entry {
      display:inline-block;
      text-align: center;
      width: #inject{coverwidth}px;
      margin: 10px;
      vertical-align: top;
    }

    .options {
      position: relative;
      height: #inject{coverheight}px;
    }

    .optionscontent {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

    .optionstitle {
      color: #ffaaaa;
      font-size: 1.3em;
      font-style: italic;
    }

    .optionslink {
      margin-top: 3px;
      font-size: 0.8em;
      font-style: italic;
    }

    .optionslink a {
      cursor: pointer;
    }

    .updatelist {
      margin-top: 10px;
      font-size: 0.8em;
      font-family: monospace;
    }

    .updatedate {
      color: #ffaaff;
    }

    a.updatetitle {
      color: #ffffaa;
    }

    .updatehash {
      color: #555555;
    }

    .updateissue {
      color: #aaffff;
    }

    .updatemore {
      color: #555555;
    }

    #help {
      display: block;
      position:absolute;
      left: 10px;
      bottom: 10px;
      width: 300px;
      height: 300px;
      background:#fff4a3;
      border:1px solid #000000;
      z-index:101;
      display: none;
    }

    .helpcontent {
      margin: 10px;
      font-family: monospace;
      white-space: pre;
      font-size: 0.8em;
      font-weight: 900;
    }

    #preloadbar {
      display: block;
      position:absolute;
      width: 10vw;
      height: 1vw;
      background:#333333;
      border:1px solid #000000;
      z-index:100;
      left: 2vw;
      bottom: 0vw;
    }

    #preloadbarinner {
      background-color: #669966;
      height: 100%;
      width: 0%;
    }
