    html, body {
      margin: 0;
      height: 100%;
      min-height: 100%;
    }

    a, a:link, a:hover, a:visited, a:active {
      text-decoration: none;
      color: white;
    }

    a.download {
      color: #77aa77;
    }

    .cover {
      width: #inject{coverwidth}px;
    }

    .counts {
      font-size: 0.7em;
    }

    .recent {
        color: #ddffdd;
    }

    .box {
      display: block;
      position:absolute;
      width: 4vw;
      height: 4vw;
      background:#ffffff;
      opacity: 0.1;
      border:1px solid #000000;
      z-index:100;
    }

    .prevbox {
      left: 2vw;
      top: 2vw;
    }

    .nextbox {
      right: 2vw;
      top: 2vw;
    }

    .scalebox {
      left: 2vw;
      bottom: 2vw;
    }

    .zoombox {
      right: 3vw;
      bottom: 3vw;
      width: 12vw;
      height: 12vh;
    }

    .altzoombox {
      display: block;
      position:absolute;
      z-index:100;
      left: 20vw;
      right: 20vw;
      bottom: 0;
      height: 60vw;
      opacity: 0;
      border: 1px solid black;
    }

    .altzoomcross {
      background: black;
      width: 1px;

      height: 100%;
      position: relative;
      margin-left: 50%;
      pointer-events: none;
    }

    .altzoomcross:after {
      background: black;
      height: 1px;

      content: "";
      left: -30vw;
      top: 30vw;
      width: 60vw;
      position: absolute;
      pointer-events: none;
    }

    .entry {
      display:inline-block;
      text-align: center;
      width: #inject{coverwidth}px;
      margin: 10px;
      vertical-align: top;
    }

    .options {
      position: relative;
      height: #inject{coverheight}px;
    }

    .optionscontent {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

    .optionstitle {
      color: #ffaaaa;
      font-size: 1.3em;
      font-style: italic;
    }

    .optionslink {
      margin-top: 3px;
      font-size: 0.8em;
      font-style: italic;
    }

    .optionslink a {
      cursor: pointer;
    }

    .updatelist {
      margin-top: 10px;
      font-size: 0.8em;
      font-family: monospace;
    }

    .updatedate {
      color: #ffaaff;
    }

    a.updatetitle {
      color: #ffffaa;
    }

    .updatehash {
      color: #555555;
    }

    .updateissue {
      color: #aaffff;
    }

    .updatemore {
      color: #555555;
    }
