<!DOCTYPE html>
<html>
<head>
  <title>#inject{title}: Updates</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="apple-mobile-web-app-capable" content="yes">

#include{jquery_html}

  <style>
#include{style_css}

    html, body {
      color: #aaaaaa;
      background-color: #111111;
    }

    .updatelist {
        font-size: 1em;
    }
    .updateentry {
        margin-left: 20px;
    }
  </style>

</head>

<body>

<blockquote>

#inject{updates}

</blockquote>

</body>
</html>
